@{
    ViewData["Title"] = "Zamówienie";
}
<div class="mb-1 p-2 text-success text-center"><h4>Zamówienie zostało złożone.</h4></div>
<div class="text-center"><a asp-action="Index" asp-controller="Home" class="btn btn-success">OK</a></div>

