@model MenuCategory
@{
    ViewData["Title"] = Model.Name ?? "Kategoria menu";
}


<div class="my-border backgroud-color-secondary my-box-shadow" style="color: inherit; text-decoration: none; display: flex; flex-direction: column; box-shadow: rgb(0, 0, 0, 0.2) 0px 0px 4px; padding: 1.5rem; margin: 10px 0 0">
    <h3>Kategoria</h3>
    <p>Prosze podać dane kategorii</p>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="EditMenuCategory" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Nazwa kategorii menu</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Priority" class="form-label">Kolejność</label>
            <input asp-for="Priority" class="form-control" />
        </div>
        <input type="hidden" class="form-control" name="shopId" value="@ViewBag.ShopId" />
        <input type="hidden" asp-for="MenuCategoryId" />
        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Zapisz kategorie" />
        </div>
    </form>
</div>
