@{
    ViewData["Title"] = "Odmowa dostępu";
}
<div class="mb-1 p-2 text-danger text-center"><h4>Odmowa Dostępu!</h4></div>
<div class="text-center"><a href="javascript:history.back()" class="btn btn-success">OK</a></div>