@model LoginViewModel
@{
    ViewData["Title"] = "Logowanie";
}
<div class="my-border backgroud-color-secondary my-box-shadow" style="color: inherit; text-decoration: none; display: flex; flex-direction: column; padding: 1.5rem; margin: 10px 0 0">
    <h3>Logowanie</h3>
    <p>Prosze podać dane logowania</p>
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Login" asp-controller="Account" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <button class="btn btn-success" type="submit">Zaloguj</button>
    </form>
</div>

