@model IEnumerable<MenuCategory>

<div class="mb-3">
    <label for="menuCategory" class="form-label">Kategoria menu</label>
    <select id="menuCategory" name="menuCategoryId" class="form-select">
        @foreach (MenuCategory mc in Model)
        {
            if (mc.MenuCategoryId == ViewBag.MenuCategoryId)
            {
                <option value="@mc.MenuCategoryId" selected>@mc.Name</option>
            }
            else
            {
                <option value="@mc.MenuCategoryId">@mc.Name</option>
            }

        }
    </select>
</div>